
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.div {
  min-height: 100vh;
  width: 80vw;
  background-color: rgba(199, 222, 122, 0.798);
  margin: 50px auto;
  text-align: center;
  color:rgba(221, 81, 231, 0.62);

}

.button{
  border-radius: 4px;
  border-style: solid;
  border-width: 0.5px;
}

.div_select{
  border-radius: 4px;
  border-style: solid;
  border-width: 0.5px;
}

.botones{
  margin: 30px auto;
}

.rtas{
  margin: 100px auto;
}